<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <script
    async
    src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
  ></script>

  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.130.1/build/three.module.js",
        "three/examples/jsm/controls/OrbitControls.js": "https://unpkg.com/three@0.130.1/examples/jsm/controls/OrbitControls.js"
      }
    }
  </script>

  <script type="module" src="ImportMap.js"></script>

  <body>
    <!-- <script src="ImportMap_Template.js"></script> -->
    <canvas class="webgl"></canvas>
    <!-- <script src="Module_Template.js"></script> -->
    <!-- <script src="Skypack_Template.js"></script> -->
  </body>
</html>
